body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #F2F2F2
}
 

.payment-order {
    /* background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    display: flex;
    justify-content: space-between; */
    
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px;
}

.payment-contact{
    border: 2px solid black;
    height: 100%;
    width: 70%;
}
.contact{
  
    /* padding: 10px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    /* border-radius: 8px; */
    justify-content: space-evenly;


}
.payment-options-container{
  
    display: flex;
    padding: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* background-color: #fff;
    border-radius: 8px; */
    /* justify-content: space-evenly; */

}
.payment-options{
    background-color: #F7F7F7;
    border: 2px solid rgb(143, 23, 23);
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
 .payment {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.payment-details{

    padding: 10px;
    position: relative;
    border: 2px solid blue;
    width: 60%;
}

.contact, .payment-options, .payment-details, .expiry-cvv {
    margin-bottom: 15px;
}

#card-number,#card-name {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
.expiry{
    padding: 10px;
    margin: 10px 0px;
   
    box-sizing: border-box;

}

#user-email,#user-mobile{
    padding: 10px;
    margin-bottom: 10px;
    width: 50%;
    box-sizing: border-box;

}
#make-payment{
    padding: 10px;
    margin-bottom: 10px;
    width: 50%;
    box-sizing: border-box;
}
input[type='password']{
    padding: 10px;
    margin: 10px 0px;
    width: 40%;
    box-sizing: border-box;
}

.credit-card {
    background-color: #d6d9db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px;
}
.upi{
    background-color: #d6d9db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px;

}

.credit-card:hover {
    background-color: #2c3e50;
}
.card-details{
    /* border: 2px solid yellow; */
    background-color: yellow;
   
   
}

.card-details input {
    margin-bottom: 10px;
    
}
.upi-details{
   
    position: relative;
    border: 2px solid pink;
    top: 20px;
}

button {
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 100px;
}

button:hover {
    background-color: #218c54;
}

.order-summary {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    width: 30%;
}

.payment-heading{
    background-color: rgb(212, 94, 94);
    margin-top: 0px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    color: #333;
}

hr {
    border: 1px solid #ccc;
}

.sub-total, .convenience-fees, .total {
    display: flex;
    justify-content: space-between;
}

/* @media (min-width: 768px) {
    .payment-order {
        display: flex;
        justify-content: space-between;
    }

    .payment-contact, .payment {
        flex-basis: 48%;
    }
} */
